---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/v2/payment_methods
    body:
      encoding: UTF-8
      string: '{"type":"QR_CODE","reusability":"ONE_TIME_USE","qr_code":{"amount":1000,"currency":"IDR","channel_code":"DANA"}}'
    headers:
      Idempotency-Key:
      - idempotency-key-1234567893
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '597'
      Rate-Limit-Reset:
      - '59.356'
    body:
      encoding: UTF-8
      string: '{"id":"pm-01fada86-3f12-45f2-9e17-cd087b07af96","type":"QR_CODE","country":"ID","business_id":"667d15f3e07834e30a69ff45","customer_id":null,"reference_id":"c458732a-d4ab-426d-8b2f-08f5c9b80ff1","reusability":"ONE_TIME_USE","status":"ACTIVE","actions":[],"description":null,"created":"2024-07-09T04:00:19.165088556Z","updated":"2024-07-09T04:00:19.165088556Z","metadata":null,"billing_information":null,"failure_code":null,"ewallet":null,"direct_bank_transfer":null,"direct_debit":null,"card":null,"over_the_counter":null,"qr_code":{"amount":1000,"currency":"IDR","channel_code":"DANA","channel_properties":{"qr_string":"some-random-qr-string","expires_at":"2024-07-11T04:00:18.91975Z"}},"virtual_account":null}

        '
  recorded_at: Tue, 09 Jul 2024 04:00:19 GMT
recorded_with: VCR 6.2.0
