---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/v2/payment_methods
    body:
      encoding: UTF-8
      string: '{"type":"QR_CODE","reusability":"ONE_TIME_USE"}'
    headers:
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '598'
      Rate-Limit-Reset:
      - '59.567'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"field ''qr_code'' is
        required"}

        '
  recorded_at: Wed, 03 Jul 2024 07:49:49 GMT
recorded_with: VCR 6.2.0
