---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/customers?reference_id=reference-id-1234567895
    body:
      encoding: US-ASCII
      string: ''
    headers:
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Api-Version:
      - '2020-10-31'
      Authorization: FILTERED_AUTH_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c0-Rzn9x473MQtejIXdaSSj0Yau6TA"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"INDIVIDUAL","date_of_registration":null,"email":"testemail@email.com","mobile_number":"+628774494404","phone_number":null,"created":"2024-07-04T04:53:14.982Z","updated":"2024-07-04T04:53:14.982Z","description":null,"hashed_phone_number":null,"domicile_of_registration":null,"identity_accounts":[],"addresses":[],"kyc_documents":[],"id":"cust-77a1ef9f-60a1-4016-af95-2de82bbb0e2f","reference_id":"reference-id-1234567895","metadata":null,"individual_detail":{"given_names":"John","given_names_non_roman":null,"surname":"Doe","surname_non_roman":null,"nationality":null,"date_of_birth":null,"place_of_birth":null,"gender":null,"employment":null},"business_detail":null}],"has_more":false}'
  recorded_at: Thu, 04 Jul 2024 04:53:16 GMT
recorded_with: VCR 6.2.0
