---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/credit_card_charges/option?amount=1000000&bin=552002&currency=IDR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: FILTERED_AUTH_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"234-CZ+jcrPn/oBCg+b3aSSHhjvNl/Q"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"business_id":"66309c544d1384b813795b6f","installments":[{"count":6,"interval":"month","minimum_amount":500000,"acquirer":"BRI","currency":"IDR","description":"0%,
        6 x IDR 166666.67","installment_amount":166666.67},{"count":3,"interval":"month","minimum_amount":500000,"acquirer":"BRI","currency":"IDR","description":"0%,
        3 x IDR 333333.33","installment_amount":333333.33},{"count":12,"interval":"month","minimum_amount":500000,"acquirer":"BRI","currency":"IDR","description":"0%,
        12 x IDR 83333.33","installment_amount":83333.33}],"bin":"552002","promotions":[]}'
  recorded_at: Thu, 25 Jul 2024 04:45:33 GMT
recorded_with: VCR 6.2.0
