---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/payment_requests
    body:
      encoding: UTF-8
      string: '{"currency":"IDR","amount":100000,"payment_method":{"type":"","reusability":"ONE_TIME","reference_id":"pm-level-33a918bb-0cc3-4b27-8206-5425b375f1ac","virtual_account":{"channel_code":"BRI","channel_properties":{"customer_name":"John
        Doe"}}},"metadata":{"sku":"ABCDEFGH"}}'
    headers:
      Idempotency-Key:
      - idempotency-key-1234567891
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '598'
      Rate-Limit-Reset:
      - '59.591'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"field ''payment_method.type''
        is required"}

        '
  recorded_at: Mon, 22 Jul 2024 08:15:53 GMT
recorded_with: VCR 6.2.0
