---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/v2/payment_methods
    body:
      encoding: UTF-8
      string: '{"type":"VIRTUAL_ACCOUNT","virtual_account":{"amount":100000,"currency":"IDR","channel_code":"BSI","channel_properties":{"customer_name":"John
        Doe","expires_at":"2024-07-10T10:47:23.784379Z"}},"reusability":"ONE_TIME_USE","metadata":{"branch_code":"ABC123"}}'
    headers:
      Idempotency-Key:
      - idempotency-key-12345678911
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '598'
      Rate-Limit-Reset:
      - '14.877'
    body:
      encoding: UTF-8
      string: '{"id":"pm-4482f1f8-f5cc-4ef0-9477-1c181edf33c5","type":"VIRTUAL_ACCOUNT","country":"ID","business_id":"667d15f3e07834e30a69ff45","customer_id":null,"reference_id":"df0574a0-47be-47cd-8450-13c56aa5193d","reusability":"ONE_TIME_USE","status":"PENDING","actions":[],"description":null,"created":"2024-07-09T05:58:15.626524942Z","updated":"2024-07-09T05:58:15.961026898Z","metadata":{"branch_code":"ABC123"},"billing_information":null,"failure_code":null,"ewallet":null,"direct_bank_transfer":null,"direct_debit":null,"card":null,"over_the_counter":null,"qr_code":null,"virtual_account":{"amount":100000,"currency":"IDR","channel_code":"BSI","channel_properties":{"customer_name":"John
        Doe","virtual_account_number":"934799997172089","expires_at":"2024-07-10T10:47:23.784379Z"}}}

        '
  recorded_at: Tue, 09 Jul 2024 05:58:16 GMT
recorded_with: VCR 6.2.0
