---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/v2/payment_methods
    body:
      encoding: UTF-8
      string: '{"type":"VIRTUAL_ACCOUNT","reusability":"ONE_TIME_USE","metadata":{"branch_code":"ABC123"}}'
    headers:
      Idempotency-Key:
      - idempotency-key-1234567892
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '598'
      Rate-Limit-Reset:
      - '59.598'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"field ''virtual_account''
        is required"}

        '
  recorded_at: Tue, 09 Jul 2024 04:00:18 GMT
recorded_with: VCR 6.2.0
