---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/payment_requests
    body:
      encoding: UTF-8
      string: '{"country":"ID","currency":"IDR","amount":1500,"customer_id":"cust-bd0c59cd-5225-4e3f-a8d6-47d1783832e5","payment_method":{"type":"","reusability":"ONE_TIME_USE","ewallet":{"channel_code":"SHOPEEPAY","channel_properties":{"success_return_url":"https://redirect.me/goodstuff","failure_return_url":"https://redirect.me/badstuff"}}},"metadata":{"sku":"ABCDEFGH"}}'
    headers:
      Idempotency-Key:
      - idempotency-key-1234567896
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"field ''payment_method.type''
        is required"}

        '
  recorded_at: Wed, 24 Jul 2024 02:51:15 GMT
recorded_with: VCR 6.2.0
