---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/payment_requests
    body:
      encoding: UTF-8
      string: '{"amount":15000,"currency":"IDR","payment_method":{"type":"","reusability":"ONE_TIME","qr_code":{"channel_code":"DANA"}},"description":"sample
        description","metadata":{"foo":"bar"}}'
    headers:
      Idempotency-Key:
      - idempotency-key-1234567893
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"field ''payment_method.type''
        is required"}

        '
  recorded_at: Mon, 22 Jul 2024 08:18:08 GMT
recorded_with: VCR 6.2.0
