---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"test-1234567890","type":"INDIVIDUAL","individual_detail":{"given_names":"John","surname":"Doe"},"email":"testemail@email.com","mobile_number":"+628774494404"}'
    headers:
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Idempotency-Key:
      - test-123456789
      Api-Version:
      - '2020-10-31'
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e-D0mHAFT4y2h5mBjg1OZJYlsw59w"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '598'
      Rate-Limit-Reset:
      - '22.646'
    body:
      encoding: UTF-8
      string: '{"error_code":"DUPLICATE_ERROR","message":"The reference_id entered
        has been used before. Please enter a unique reference_id"}'
  recorded_at: Wed, 03 Jul 2024 10:11:14 GMT
recorded_with: VCR 6.2.0
