---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"reference-id-1234567896","type":"INDIVIDUAL","individual_detail":{"given_names":"John","surname":"Doe"},"email":"testemail@email.com","mobile_number":"+628774494404"}'
    headers:
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Idempotency-Key:
      - idempotency-key-1234567895
      Api-Version:
      - '2020-10-31'
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f4-RrhuJVm2xZjzQsGbaXXmDA/feZw"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '597'
      Rate-Limit-Reset:
      - '59.269'
    body:
      encoding: UTF-8
      string: '{"error_code":"IDEMPOTENCY_ERROR","message":"Keys for idempotent requests
        can only be used once for the same endpoint. Try using a key other than ''idempotency-key-1234567895''
        if you meant to execute a different request over the same endpoint."}'
  recorded_at: Thu, 04 Jul 2024 04:53:15 GMT
recorded_with: VCR 6.2.0
