---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"test-1234567890","type":"INDIVIDUAL","individual_detail":{"given_names":"John","surname":"Doe"},"email":"testemail@email.com","mobile_number":"+628774494404"}'
    headers:
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Idempotency-Key:
      - test-123456789
      Api-Version:
      - '2020-10-31'
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8-R+FWP+hRPRnvrC5tx0A3KroWU2Y"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: '{"error_code":"IDEMPOTENCY_ERROR","message":"Keys for idempotent requests
        can only be used once for the same endpoint. Try using a key other than ''test-123456789''
        if you meant to execute a different request over the same endpoint."}'
  recorded_at: Thu, 04 Jul 2024 03:06:27 GMT
recorded_with: VCR 6.2.0
