---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"test-1234567890","type":"INDIVIDUAL","individual_detail":{"given_names":"John","surname":"Doe"},"email":"testemail@email.com","mobile_number":"+628774494404"}'
    headers:
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Idempotency-Key:
      - test-1234567890
      Api-Version:
      - '2020-10-31'
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29c-L45mH0E33h0QLgYmmFSIBA0qPnc"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"INDIVIDUAL","date_of_registration":null,"email":"testemail@email.com","mobile_number":"+628774494404","phone_number":null,"created":"2024-07-03T09:59:19.315Z","updated":"2024-07-03T09:59:19.315Z","description":null,"hashed_phone_number":null,"domicile_of_registration":null,"kyc_documents":[],"id":"cust-96f0340d-d89f-47a0-a382-be79554558ff","reference_id":"test-1234567890","metadata":null,"individual_detail":{"given_names":"John","given_names_non_roman":null,"surname":"Doe","surname_non_roman":null,"nationality":null,"date_of_birth":null,"place_of_birth":null,"gender":null,"employment":null},"business_detail":null,"addresses":[],"identity_accounts":[]}'
  recorded_at: Wed, 03 Jul 2024 09:59:19 GMT
recorded_with: VCR 6.2.0
