---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"reference-id-1234567895","type":"INDIVIDUAL","individual_detail":{"given_names":"John","surname":"Doe"},"email":"testemail@email.com","mobile_number":"+628774494404"}'
    headers:
      For-User-Id:
      - 667d15f3e07834e30a69ff45
      Idempotency-Key:
      - idempotency-key-1234567895
      Api-Version:
      - '2020-10-31'
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a4-9iX1A18h8Qy7t+S7op0pxS9xwQg"
      Rate-Limit-Limit:
      - '600'
      Rate-Limit-Remaining:
      - '599'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"INDIVIDUAL","date_of_registration":null,"email":"testemail@email.com","mobile_number":"+628774494404","phone_number":null,"created":"2024-07-04T04:53:14.982Z","updated":"2024-07-04T04:53:14.982Z","description":null,"hashed_phone_number":null,"domicile_of_registration":null,"kyc_documents":[],"id":"cust-77a1ef9f-60a1-4016-af95-2de82bbb0e2f","reference_id":"reference-id-1234567895","metadata":null,"individual_detail":{"given_names":"John","given_names_non_roman":null,"surname":"Doe","surname_non_roman":null,"nationality":null,"date_of_birth":null,"place_of_birth":null,"gender":null,"employment":null},"business_detail":null,"addresses":[],"identity_accounts":[]}'
  recorded_at: Thu, 04 Jul 2024 04:53:14 GMT
recorded_with: VCR 6.2.0
